h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: #f5f7fa;
  font-family: Montserrat;
}

ul {
  margin: 0;
}

.container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 719px) {
  .container {
    max-width: 420px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 720px) {
  .container {
    width: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    border-radius: 0.5%;
    overflow: hidden;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 719px) {
  .image {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 720px) {
  .image {
    position: absolute;
    width: 300px;
    top: 15px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .image {
    width: 370px;
    top: 20px;
  }
}

.sidebar {
  background: rgba(30, 41, 57, 0.9);
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 720px) {
  .sidebar {
    padding-top: 315px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    padding-top: 390px;
    padding-bottom: 20px;
  }
}

.tech-skills__bullets,
.soft-skills__bullets {
  color: #ff6f0f;
}

.contacts {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts__header,
.tech-skills__title,
.soft-skills__title {
  margin-bottom: 10px;
}

.contacts__header {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
}

.contacts__list,
.social__list {
  list-style-type: none;
  padding: 0;
}

.contacts__list {
  margin-left: 22px;
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #ff6f0f;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.contacts__abbreviation {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.contacts__link:hover .contacts__abbreviation,
.contacts__link:focus .contacts__abbreviation {
  color: #ff6f0f;
}

.contacts__link:hover,
.contacts__link:focus {
  color: rgba(255, 255, 255, 0.7);
}

.tech-skills {
  padding-top: 10px;
  padding-bottom: 10px;
}

.soft-skills {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.soft-skills::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px #d8dadd solid;
  border-radius: 2%;
}

.tech-skills__item,
.soft-skills__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #d8dadd;
}

.contacts__header,
.tech-skills__title,
.soft-skills__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffffff;
}

.social {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__icon {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.social__item:hover .social__icon,
.social__item:focus .social__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 720px) {
  .contacts,
  .tech-skills,
  .soft-skills,
  .social {
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts,
  .tech-skills,
  .soft-skills,
  .social {
    width: 340px;
  }
}

.main-section {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .intro {
    padding-top: 20px;
  }
}

.intro::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px #d8dadd solid;
  border-radius: 2%;
}

.intro__job {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
}

@media screen and (max-width: 719px) {
  .intro__job {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .intro__job {
    font-size: 22px;
  }
}

.intro__name {
  color: #000000;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}

@media screen and (max-width: 719px) {
  .intro__name {
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .intro__name {
    font-size: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .intro__name {
    font-size: 45px;
  }
}

.intro__pre-header {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.main-section__experience {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.job {
  padding-top: 10px;
  padding-bottom: 10px;
}

.job__position {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}

.job__company {
  color: #ff6f0f;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.job__timeframes,
.education__timeframes {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  margin-bottom: 10px;
}

.job__responsibilities {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.job__divider,
.education__divider {
  color: #a8a8a8;
}

.education {
  padding-top: 10px;
  padding-bottom: 10px;
}

.education__header {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15px;
}

.education__academy {
  color: #ff6f0f;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}

.education__faculty {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .intro,
  .job,
  .education {
    width: 650px;
  }
}
/*# sourceMappingURL=main.css.map */