// Colors
$body-color: #f5f7fa;
$bg-color: #ffffff;
$text-color: #d8dadd;
$title-color: #000000;
$education: #ff6f0f;
$aside-bullets: #ff6f0f;
$links-color: #ff6f0f;
$main-bullets: #595959;
$timeframes-color: #a8a8a8;

// Media widths
$min-mobile: 420px;
$max-mobile: 719px;
$min-tablet: 720px;
$max-tablet: 1199px;
$min-desktop: 1200px;
